body {
    background-image: url("assets/images/top-bg.png");
}

p, h1, h2 {
    color: white;
}

.row {
        
}

.col-sm- {
    
}



/* Header */

/* Navbar */
.section-nav-head {
    
}

.header-logo {
    width: 70%;
}

.navlogo-col {
    background-image: url(/assets/images/logo.png);
    width: 100px;
    height: 100px;
}

.navbar-col {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/* Quote */
.quote {
    width: 500px;
    margin-right: 10%;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}


/* Red */
.section-red {
    
}

.red-left {
    background: linear-gradient(rgba(129, 0, 0, 0.75), rgba(129, 0, 0, 0.75)),
    url("assets/images/red-left.jpg");
    text-align: center;
    padding: 100px;
}

.red-center {
    background: linear-gradient(rgba(129, 0, 0, 0.75), rgba(129, 0, 0, 0.75)),
    url("assets/images/red-center.jpg");
    text-align: center;
    padding: 100px;
}

.red-right {
    background: linear-gradient(rgba(129, 0, 0, 0.75), rgba(129, 0, 0, 0.75)),
    url("assets/images/red-right.jpg");   
    text-align: center;
    padding: 100px;
}

.ghostbox {
    background: white;
    opacity: 0;
}

.section-red:hover .ghostbox{
    opacity: 0.5;
    transition: .5s ease;
}



/* Footer */
.section-footer {
    margin-top: 5%;
    text-align: center;
    color: white;
}